<!DOCTYPE html>
<html>
  <head>
    <title>Rapport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <div class="nav-scroller bg-white shadow-sm">
      <nav class="nav nav-underline">
        <%= link_to '<i class="rapport-small-icon">R</i> <span class="rapport-brand-name">Rapport</span>'.html_safe, root_path, class: 'nav-link active mr-auto' %>
        <%= link_to 'Sign up', signup_path, class: 'nav-link' %>
      </nav>
    </div>

    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>


